.venv/
venv/
mmagic_env/
part3_env/

data/
outputs/
runs/
logs/

results/
experiments/
part2_1/results/
part2_2/results/
part2_2/experiments/
part3/results/

__pycache__/
*.pyc
.ipynb_checkpoints/

*.pth
*.pt
*.ckpt

!part2_1/checkpoints/
!part2_1/checkpoints/**
!part2_2/models/
!part2_2/models/**

*.mp4
*.avi
*.zip

.DS_Store
